.swiper-container {
    width: 100%;
    height: auto; /* 높이를 이미지의 비율에 맞게 자동 조정 */
  }
  
  .swiper-wrapper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  