@import url("./colorVaration.css");

* {
  letter-spacing: -0.4px;
  box-sizing: border-box;
  word-break: keep-all;
}
/* components */
.sponsor {
  position: relative;
}

.sponsorTopBar {
  max-width: 1120px;
  margin: 0 auto;
  height: 200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.sponsorTopBar h2 {
  font-size: 4vw;
}
.sponsorTopBar p {
  font-size: 20px;
  font-weight: 600;
}

.sponsorBodyWrap {
  max-width: 1120px;
  min-width: 400px;
  color: var(--color-black);
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.sponsorBody01 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 0 20px;
}
.sponsorBody01 > div > h2 {
  font-size: 40px;
}

.sponsorBody01 > div > p {
  font-size: 16px;
  color: var(--color-black);
  line-height: 1.8;
  margin-top: 30px;
}
.sponsorHonor img {
  width: 456px;
}

.sponsorBody02 {
  aspect-ratio: 16 / 9;
  padding: 20px;
}

.sponsorBody03 {
  padding: 120px 20px;
  position: relative;
}
.sponsorBody03 > h2 {
  padding-bottom: 96px;
}
.sponsorMember {
  display: grid;
  grid-template-columns: 1fr 1fr;
  strong {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
.sponsorMember01,
.sponsorMember02 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.sponsorMember01::before,
.sponsorMember02::before {
  content: "";
  width: 80px;
  height: 80px;
  background: url(/public/member01.png) no-repeat center center/cover;
}
.sponsorMember02::before {
  background-image: url(/public/member02.png);
}
.sponsor span {
  color: var(--color-mainBlue);
  font-weight: bold;
}
/* -----------------------04 -------------------------*/
.sponsorBody04 {
  display: flex;
  background-color: var(--color-lightBlue);
  overflow: auto;

  justify-content: center;
}
@media (max-width: 700px) {
  .sponsorBody04 {
    justify-content: left;
  }
}
.sponsorBody04 > div {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  padding: 120px 20px;
  min-width: 700px;
  box-sizing: border-box;
}
.sponsorBody04 > div > h2 {
  margin-bottom: 64px;
}

.sponsorClub {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
  gap: 20px;
}
.sponsorClub > div {
  display: flex;
  flex-direction: column;
}
.sponsorClub > div > img {
  width: 80px;
}
.sponsorClub strong {
  font-size: 20px;
  margin: 16px 0 8px;
  color: var(--color-mainBlue);
}
.sponsorClub p {
  font-size: 16px;
}

/* 스크롤바 스타일 */
.sponsorBody04::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 조절 */
  height: 8px; /* 세로 스크롤바 높이 조절 */
}

/* 스크롤바 Track(스크롤바 바탕부분) 스타일 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* 스크롤바 Thumb(스크롤바를 잡는 부분) 스타일 */
::-webkit-scrollbar-thumb {
  background-color: var(--color-mainBlue); /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}

/* 스크롤바 활성화 상태 Thumb 스타일 */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* 스크롤바 Hover 시 색상 */
}

/* -------------------------------05 ---------------------------------*/
.sponsorBody05 {
  display: flex;
  justify-content: center;
  padding: 120px 20px;
}
.sponsorBody05 > div {
  width: 1120px;
  /* justify-content: center; */
}
.sponsorBody05 > div > .people {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: 96px;
}
.sponsorBody05 > div > .people li {
  /* width: 256px; */
  text-align: center;
  margin-bottom: 64px;
  width: 33.3%;
  min-width: 150px;
}
.sponsorBody05 > div > .people li img {
  width: 266px;
  padding: 0 15px 20px 15px;
  margin: 0 auto;
}
.sponsorBody05 > div > p {
  font-size: 16px;
}

.sponsorBody06 {
  padding: 120px 0;
  background-color: rgb(248, 249, 250);
  > div {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    > h2 {
      margin-bottom: 72px;
    }
    > div {
      /* display: flex; */
      max-width: 736px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin: 0 auto;
      > div h4 {
        font-weight: 500;
        margin-bottom: 6px;
      }
      > div h4::after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 6px;
        margin-bottom: 4px;
        background-color: var(--color-mainBlue);
        border-radius: 50%;
      }
      > div input {
        width: 100%;
        height: 56px;
        border: 1px solid rgb(229, 230, 232);
      }
      > div input::placeholder {
        padding: 10px;
        font-weight: 500;
        color: #c8c8c8;
        font-size: 16px;
      }
      > div input:focus {
        border: 1px solid var(--color-mainBlue);
      }
    }
    .gridCheckbox {
      display: flex;
    }
  }
}

.gridCheckbox {
  font-size: 14px;
  > input {
    appearance: black;
    width: 24px;
    height: 24px;
    /* border: 1px solid rgb(229, 230, 232); */
    border: none;
    margin-right: 10px;
  }
  > p {
    font-size: 14px;
    line-height: 1.8;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  width: 24px;
  aspect-ratio: 1/1;
  border: 1px solid rgb(229, 230, 232);
  border-radius: 0px;
  position: relative;
}
/* input[type="checkbox"]::before {
  content: "";
  background-size: 80% 80%;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
} */

input[type="checkbox"]::after {
  border: solid var(--color-mainBlue);
  border-width: 0 2px 2px 0;
  content: "";
  display: none;
  height: 60%;
  left: 35%;
  position: relative;
  top: 5%;
  transform: rotate(45deg);
  width: 30%;
}
input[type="checkbox"]:checked {
  /* background: var(--color-mainBlue); */
  background-color: var(--color-white);
  border: 1px solid var(--color-mainBlue);
}
input[type="checkbox"]:checked::after {
  display: block;
}

.sponsorBody06 .gridContainer {
  display: grid;
  grid-template-rows: auto auto; /* 자동 높이의 2개의 행을 만듭니다. */
  gap: 10px 30px; /* 그리드 간격 설정 */
}

.sponsorBody06 .gridItem {
  padding: 10px 0;
}

.sponsorBody06 .empty {
  visibility: hidden;
}

.buttonWrap {
  display: flex;
  > .inquireButton {
    font-size: 18px;
    font-weight: 600;
    width: 348px;
    height: 52px;
    background-color: var(--color-mainBlue);
    border: none;
    color: white;
    margin-top: 78px;
  }
}

/* swiper swiper swiper swiper swiper swiper swiper swiper swiper */
.sponsorBody09 {
  max-width: 1120px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.swiper {
  position: relative;
  width: 100%;
  /* height: calc(100% + 30px); */
  height: auto;
  overflow: visible;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.newsGroup {
  max-width: 100%;
  margin: 0 10px 20px;
  > img {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
  }
  > strong {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 최대 두 줄까지 표시합니다. */
  }
}


.swiper-scrollbar {
  /* max-width: calc(100% - 110px); */
  /* max-width: 100%; */
  /* border: 2px solid red; */
  margin-top: 100px;
  /* padding-top: 10px; */
}
.swiper-scrollbar-drag {
  background-color: var(--color-mainBlue);
  /* max-width: 80%; */
  max-width: 100%;
  position: relative;
  /* margin-top: 20px; */
}

@media (max-width: 1120px) {
}

@media (max-width: 990px) {
  .sponsorBody01 {
    flex-direction: column;
    > div > p {
      font-size: 14px;
      line-height: 1.6;
    }
  }
  .sponsorHonor img {
    width: 100%;
    margin-top: 32px;
    /* height: 100%; */
  }
  .sponsorBody03 {
    padding: 60px 20px;
  }
  .sponsorMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    strong {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .sponsorMember01,
  .sponsorMember02 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sponsorClub strong {
    font-size: 16px;
    margin: 16px 0 8px;
  }
  .sponsorClub p {
    font-size: 14px;
  }
  .sponsorBody05 > div > .people li {
    width: 50%;
  }
  .sponsorBody05 > div > p {
    font-size: 14px;
  }
  .sponsorBody09 .newsGroup strong {
    font-size: 16px;
    line-height: 1;
  }
}
@media (max-width: 640px) {
  .sponsorBody06 .gridContainer {
    display: block;
  }
  .empty {
    display: none;
  }
}
@media (max-width: 600px) {
  .sponsorBody05 > div > .people li img {
    max-width: 266px;
    width: 100%;
    /* padding: 0 0 30px 0; */
  }
  .sponsorBody05 > div > .people li {
    font-size: 14px;
  }
}
