@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("./css/colorVaration.css");

#root {
  font-family: "Noto Sans KR", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.modal-bg {
  background-color: var(--color-white);
}

/* 브라우저 내 overflow:hidden 하기 */

body {
  overflow-x: hidden;
}

.swiper-container {
  overflow-x: hidden;
  width: 100vw;
}

.swiper-slide {
  width: 100%; /* 각 슬라이드를 컨테이너 너비에 맞춤 */
  box-sizing: border-box; /* 패딩과 보더가 전체 너비에 포함되도록 설정 */
}

.App {
  padding-top: 115px;
}

@media (max-width: 990px) {
  .App {
    padding-top: 70px;
  }
}
